<html ng-app="listApp">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="angular.js"></script>
</head>

<body>
	<div ng-controller="studentListController">
		<button ng-click="insertTom()">addTom</button>
		<table>
			<tr>
				<th>index</th>
				<th>id</th>
				<th>name</th>
				<th>isFirst</th>
				<th>isMiddle</th>
				<th>isLast</th>
			</tr>
			<tr ng-repeat="student in students">
				<td>{{$index}}</td>
				<td>{{student.id}}</td>
				<td>{{student.name}}</td>
				<td>{{$first}}</td>
				<td>{{$middle}}</td>
				<td>{{$last}}</td>
			</tr>
		</table>
	</div>
<script>
	var listModule = angular.module("listApp" , [] );
	listModule.controller("studentListController",
		function ( $scope ){
			var students = [{name:"bob",id:1},{name:"sam",id:2},{name:"jil",id:3}];
			$scope.students = students;

			$scope.insertTom = function(){
				var length = students.length;
				$scope.students.splice(length,0,{name:"tom",id:length + 1});
			};
		});
</script>


</body>

</html>


