<html ng-app="styleApp">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script src="angular.js"></script>
	<style type="text/css">
	.menu-disabled-true {
		color : gray;
	}
	.error {
		background-color: red;
	}
	.warning {
		background-color: yellow;
	}
	.selected {
		background-color: lightgreen;
	}
	</style>
</head>

<body>
	<div ng-controller="deathrayMenuController">
		<button ng-click="toggleMenu()">メニューをトグル</button>
		<ul ng-show="menuState.show">
			<li class="menu-disabled-{{isDisabled}}" ng-click="stun()">気絶</li>
			<li ng-click="disintegrate()">崩壊</li>
			<li ng-click="erase()">歴史から消去</li>
		</ul>
	</div>
	<div ng-controller="headerController">
		<div ng-class="{error: isError, warning: isWarning}">
			{{messageText}}
		</div>
		<button ng-click="showError()">エラーを発生させる</button>
		<button ng-click="showWarning()">警告を発生させる</button>
	</div>
	<div ng-controller="restaurantController">
		<ul>
			<li ng-repeat="restaurant in directory" ng-click="selectRestaurant($index)" ng-class="{selected: $index==selectedRow}">
				{{restaurant.name}} {{restaurant.cuisine}}
			</li>
		</ul>
	</div>
<script>
	var styleModule = angular.module("styleApp" , [] );
	styleModule.controller("deathrayMenuController",
		function ( $scope ){
			$scope.menuState = {show: false};
			$scope.toggleMenu = function(){
				$scope.menuState.show = !$scope.menuState.show;
			};

			$scope.isDisabled = false;
			$scope.stun = function(){
				$scope.isDisabled = true;
			};
		});
	styleModule.controller("headerController",
		function( $scope ){
			$scope.messageText ="正常です";
			$scope.isError = false;
			$scope.isWarning = false;

			$scope.showError = function(){
				$scope.messageText = "エラー発生";
				$scope.isError = true;
				$scope.isWarning = false;
			};

			$scope.showWarning = function(){
				$scope.messageText = "単なる警告です";
				$scope.isError = false;
				$scope.isWarning = true;
			};
		});
	styleModule.controller("restaurantController",
		function( $scope ){
			$scope.directory = [{name:"Mori",cuisine:"BBQ"},{name:"Bob",cuisine:"salad"},{name:"Tom",cuisine:"sea food"}];
			$scope.selectRestaurant = function( row ){
				$scope.selectedRow = row;
			}
		});
</script>


</body>

</html>


